.logo {
  display: inline-block;
  color: $logo-text-color;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28/24);
  text-decoration: none;

  @media screen and (min-width:$desktop) {
    font-size: 26px;
    line-height: calc(31/26);
  }

  &__text{
    color: $hover-color;
  }
} 