//стилізація фільтр кнопок

.filter-list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;

  @media screen and (max-width: $tablet - 1px) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: $tablet) {
    justify-content: center;
  }
}

.filter-list__item {
  @media screen and (max-width: $tablet - 1px) {
    &:first-child {
      margin-bottom: 15px;
    }
  }

  &:not(:last-child) {
    margin-right: 8px;
  }
}

.filter-list__button {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;

  color: $basic-text-color;
  background-color: $project-button-bg-color;
  box-shadow: none;

  cursor: pointer;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $auxiliary-text-color;
    background-color: $hover-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

// стилізація списку проектів

.project__list {
  @extend %list;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.project__item {
  box-shadow: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: $tablet - 1px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 2 * 30px) / 3);
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  height: 100%;

  &:hover .project__description,
  &:focus .project__description {
    transform: translateY(0);
  }
}

.project__box {
  position: relative;
  overflow: hidden;
}

.project__image {
  @extend %image;
}

.project__description {
  @extend %title;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  padding: 63px 24px;

  font-size: 18px;
  line-height: calc(28 / 18);
  color: $auxiliary-text-color;
  background-color: $project-description-bg-color;

  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__meta {
  border: 1px solid $project-meta-border-color;
  border-top: transparent;
  padding: 20px 24px;
  flex-grow: 1;
}

.project__meta-name {
  @extend %title;
  margin-bottom: 4px;

  color: $basic-text-color;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}

.project__meta-text {
  @extend %title;
  color: $additional-text-color;
  font-size: 16px;
  line-height: calc(30 / 16);
}
