$logo-text-color: #000000;

$basic-text-color: #212121;
$additional-text-color: #757575;
$auxiliary-text-color: #ffffff;

$hover-color: #2196f3;

$border-header-color: #ececec;

$bg-hero-color: rgba(47, 48, 58, 0.4);

$comand-bg-fone-color: #f5f4fa;
$comand-bg-fone-box: #ffffff;

$social-link-color:#afb1b8;
$social-link-hover-color: #ffffff;

$clients-link-border-color: #afb1b8;
$clients-link-color: #AFB1B8;

$features-icon-bg-color: #f5f4fa;

$booton-text-color:#ffffff;
$booton-bg-color:#2196f3;
$booton-bg-activ-color: #188ce8;
$booton-shadoow-color: rgba(0, 0, 0, 0.15);

$bg-color-work-text: rgba(47, 48, 58, 0.8);

$footer-social-link-color: #ffffff;
$footer-social-link-bg-color: rgba(255, 255, 255, 0.1);
$background-footer-color: #2F303A ;
$contact-footer-color: rgba(255, 255, 255, 0.6);
$footer-form-input-color:rgba(255, 255, 255, 0.6);
$footer-form-input-border-color:rgba(255, 255, 255, 0.3);

$backdrop-bg-color: rgba(0, 0, 0, 0.2);

$modal-bg-color: #ffffff;
$modal-button-color: #000000;
$modal-border-color:rgba(0, 0, 0, 0.1);
$input-border-color: rgba(33, 33, 33, 0.2);

$project-button-bg-color: #f5f4fa;
$project-meta-border-color: #eeeeee;
$project-description-bg-color: rgba(33, 150, 243, 0.9);